*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: darkslategrey;
    height: 100%;
    z-index: -100;
}

/* Skeleton cards grid */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0 20px;
    max-width: 1300px;
    margin: 100px auto 0;
}

.card {
    background-color: #f1f1f1;
}

.card-img {
    display: block;
    height: 200px;
    width: 100%;
    background-color: #4c4c4c;
    object-fit: cover;
}

.card-img.skeleton-anim {
    animation: skeleton 0.8s ease-in-out infinite alternate;
}

@keyframes skeleton {
    to {
        opacity: 0.6;
    }
}

.content {
    padding: 15px;
}

.skeleton-title {
    height: 20px;
    margin-top: 10px;
}

.skeleton-text {
    margin-top: 10px;
    height: 10px;
}

.skeleton-text,
.skeleton-title {
    width: 60%;
    background-color: #4c4c4c;
    animation: skeleton 0.8s ease-in-out infinite alternate;
}
.skeleton-text:first-of-type {
    width: 90%;
}

/* Pulse animation  */

.pulse-button,
.pulse-button-opti {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-family: sans-serif;
    cursor: pointer;
    border: none;
    font-weight: 600;
    position: relative;
    z-index: 10;
}
.pulse-button-opti{
    background-color: rgba(0, 0, 0, 0.719);
    color: #f1f1f1;
}
.pulse-active {
    box-shadow: 0 0 0 lightgray;
    animation: badPulse 1.4s infinite ease-out;
}
.pulse-button-opti::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 50%;
    animation: pulse 1.4s infinite ease-out;
}
@keyframes pulse {
    to {
        opacity: 0;
        transform: scale(1.3);
    }
}
/* worse performance */ 
@keyframes badPulse {
    to {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.068);
    }
}
